<p style="color: green"><%= notice %></p>

<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>
<div id="ratings">
    <ul>
        <% @ratings.each do |rating| %>
            <li><%= link_to rating, rating %></li>
        <% end %>
    </ul>
</div>

<%= link_to "New rating", new_rating_path %>
<%= link_to "Beer list", beers_path %>
<%= link_to "Brewery list", breweries_path %>
